body {
  width: 100%;
  max-width: 1281px;
  margin: auto;
  font-family: "Courier Prime", monospace;
}

#ramda {
  display: inline-block;
  text-decoration: none;
  font-size: 70px;
  margin: 20px 0;
}

#I {
  color: black;
}

#II {
  color: rgb(98, 162, 235);
}

#ramda:hover #I {
  color: rgb(98, 162, 235);
}

#ramda:hover #II {
  color: black;
}

nav {
  background-color: #35444f;
  width: 100%;
  margin: auto;
  text-align: center;
  border-color: #f3faff;
  border-style: solid;
  border-width: 2px;
}

.nl {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  border-color: #35444f;
  border-style: solid none;
  border-width: 0 2px;
  margin: -15px;
}

.nl:hover {
  background-color: #222f3a;
  border-color: #;
  border-style: solid;
  border-width: 0px 2px;
}

main {
  display: inline-block;
}

aside {
  display: inline-block;
  vertical-align: top;
  color: #495863;
  font-size: 20px;
  border: #52626e solid 1px;
  width: 340px;
  padding: 10px;
}

aside > a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 10px;
  width: 80%;
  margin: auto;
}

aside > a:hover {
  background-color: #dbdbdb;
  padding-left: 40px;
}

article {
  display: inline-block;
  flex-flow: column wrap;
  padding-left: 20px;
  width: 885px;
}
#ImageContainer {
  display: flex;
  width: 885px;
  height: 529px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  border: #52626e solid 1px;
}

#AnimatedImage {
  display: inlin-block;
  margin: auto;
  vertical-align: middle;
  width: 320px;
  transition: 0.4s;
}

#AnimatedImage:hover {
  width: 360px;
}

footer {
  width: 100%;
  background-color: #b9c1c7;
  margin-bottom: 30px;
  padding: 5px;
  text-align: center;
}

.fl {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  margin: 5px;
  color: black;
  font-weight: 600;
}

a.fl:hover {
  color: rgb(49, 129, 166);
  text-decoration: underline;
}

p.fl {
  display: inline-block;
  margin-left: 30%;
}
